@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?40234330');
  src: url('font/fontello.eot?40234330#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?40234330') format('woff2'),
       url('font/fontello.woff?40234330') format('woff'),
       url('font/fontello.ttf?40234330') format('truetype'),
       url('font/fontello.svg?40234330#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    min-width:480px ;
}
.menu {
    z-index: 1;
    
}
.plages{
    box-sizing: border-box;
    margin-top: 20vh;
}
h1, h2, h3{
    text-align: center;
    margin: 2%;
    color: red;
}
article h1{
    font-size: 2em;
}
.slider{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
       
}
.inside{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    padding: 5vh 5vh;
    position: relative;
    
}
.arrow-left{
    position: absolute;
    top: 50%;
    left: 0;
}
.arrow-left:before{
    content:'\e801';
    font-family: 'fontello';
    font-size: 2em;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right: 0;
}
.arrow-right:before{
    content:'\e800';
    font-family: 'fontello';
    font-size: 2em;
}
.card-p img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.card-p h3, p{
    margin: 2%;
    
}
.card-p{
    margin: 2%;
    padding: 1em;
    background: white;
    box-shadow: 3px -4px 5px 0px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card-p a:hover{
    transform: scale(1.2);
    transition: 1s ease;
}

.card-p img:hover{
    opacity: 0.8;
    transition: 1s;
}




